<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/main.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/glide.core.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/glide.theme.min.css" | relURL }}">
    <style>
        .glide__slide img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    {{ block "head" . }}{{ end }}
</head>
<body>
    <h1>{{ .Site.Title}}</h1>
    <header>
        <nav>
            <ul>
                <li><a href="{{ "/" | relURL }}">Home</a></li>
                <span class="nav-divider">|</span>
                {{ $latest := first 1 (where .Site.RegularPages "Section" "posts") }}
                {{ if $latest }}
                {{ with index $latest 0 }}
                <li><a href="{{ .Permalink }}">Latest Post</a></li>
                {{ end }}
                {{ end }}
                <span class="nav-divider">|</span>
                <li><a href="{{ "/photos/" | relURL }}">Photos</a></li>
                <span class="nav-divider">|</span>
                <li><a href="{{ "/about/" | relURL }}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
        <footer>&copy; 2024 Mark Smith</footer>
    </main>
    <script src="{{ "/js/glide.min.js" | relURL }}"></script>
    {{ block "scripts" . }}{{ end }}
</body>
</html>
