body {
    background: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
    color: white;
    min-height: 100vh;
    margin: 0  27%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 40px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav li {
}

nav a {
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}
a:link {
    color: white;
}
nav .nav-divider {
    margin: 0 7.5px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul li {
    margin-bottom: 10px;
}
h3 {
    margin-top: 0px;
}


h1 {
    font-size: 40px;
}
h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 24px;
}

footer {
    margin-top: 100px;
    margin-bottom: 30px;
}

p:has(img) {
    text-align: center;
}
img {
    width: 72%;
}
@media only screen and (max-width: 768px) {
    body {
      margin: 0 2%;
      padding: 0;
    }
  
    .container {
      margin: 0 auto;
      padding: 0 15px; /* Add some padding for inner content if needed */
    }
  }